
<html>
<script type="text/javascript">
</script>

<head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DebateSite.css">
	<title>Judge</title>
</head>
<body>
	<div class="Banner">
		Albany High School Freshmen Debates
	</div>
	<div id="MainBody">
		{% for team in teams %}
			<div id = '{{team.team_Number}}' class = "button">
				{{ team.team_Number }}
				<br>
				<br>
				{{ team.topic }}
				<br>
				{{ team.teacher }}
			</div>
		{% endfor %}
	</div>

	
	<script type="text/javascript">
		var something = document.getElementById('Debate1');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('Judge','_self',false)
		};

		var something = document.getElementById('Debate2');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('Judge','_self',false)
		};

		var something = document.getElementById('Debate3');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('Judge','_self',false)
		};

		var something = document.getElementById('LogIn');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('Judge','_self',false)
		};
	</script>


</body>
</html>