
<html>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DebateSite.css">
<script type="text/javascript">
</script>

<head>
	<title>Splash Page</title>
</head>
<body>
	<div class="Banner">
		<p>
			Albany High School Freshmen Debates
			{% if user.is_authenticated %}
				<a id = 'Black'>{{ user.first_name }}<a> <a id = 'login_splash' href="admin">View Tools</a> 
				<a id = 'login_splash' href="logout/">Logout</a>
			{% else %}
					<a id = 'login_splash' href="{% url 'socialauth_begin' 'google-oauth2' %}">Login</a>
			{% endif %}
		</p>
	</div>
	<div id="MainBody">

	
		<div id="SelectA" class="Button">
			<h1>Admin</h1>
			<h2></h2>
			<br>
		</div>
		<div id="SelectJ" class="Button">
			<h1>Judges</h1>
			<h2></h2>
			<br>
		</div>
		<br>
		<br>
		<br>

	</div>

	
	<script type="text/javascript">
		var something = document.getElementById('SelectA');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('admin','_self',false)
		};

		var something = document.getElementById('SelectJ');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('Judge_nu_scoring','_self',false)
		};

		var something = document.getElementById('LogIn');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('LogIn','_self',false)
		};
	</script>


</body>
</html>