body
{
	background-color: #5F5E5D;
	text-align: center;
	margin: 0;
}
h1
{
	font-size: 220%;
}
h2
{
	font-size: 60%;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h3
{
	font-size: 125%;
}
h4
{
	font-size: 200%;
}
h5
{
	font-size: 150%;
}

table{
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

th{
	border: 1px solid black;
}

.Banner
{
	background-color: #F2EEEA;
	text-align: center;
	z-index: 101;
	margin-top: 0%;
	font-size: 145%;
	width: 110%;
	margin-left: -7%;
	margin-top: auto;
	padding: 2.5%;
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 35px;
	color: #E24A37;
}
#MainBody
{	
	text-align: center;
	margin-bottom: 5%;
	z-index: 100;
	background-color: #B4B2AE;
	height: 80%;
	width: 70%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgba(0, 0, 0, 0.75) 0 10px 35px;
	display: inline-block;
	padding-top: 20%;
}
.Button
{
	border: 5px solid #E87162;
	border-radius: 25px;
	display: inline-block;
	background-color: #F2EEEA;
	margin: 1%;
	padding-left: 10px;
	padding-right: 10px;
	width: 25%;
	height: 25%;
}
.Button:hover
{
	box-shadow: rgba(0, 0, 0, 0.75) 0 10px 35px;
}
/*Divs for Admin.html*/
#LogIn
{
	font-size: 150%;
	color: black;
	background-color: #F2EEEA;
	border-radius: 30px;
	border: 5px solid #EFC36C;
	width:10%;
	display: inline-block;
	padding: 1%;
}
#LogIn:hover
{
	border: 5px solid #B39B6A;
}
/*End of divs for Admin.html*/

/*Start of divs for DebateCreate.html*/
#DebateForm
{
	border: 10px solid #F7DEAD;
	display: inline-block;
	padding: 5%;
	margin: 15%;
	font-size: 100%;
	border-radius: 25px;
	background-color: #EFC36C;
	text-align: left;
}
/*End of divs for DebateCreate.html*/

/*Start of divs for Judge.html*/
#ScoreBoxNeg
{
	padding: 2%;
	background-color: #F2EEEA;
	text-align: left;
	border: 10px solid #B4B2AE;
	display: inline-block;
	margin: 2.5%;
	border-radius:;
	height: auto;
	width: auto;
}
/*End of divs for Judge.html*/

/*Start of divs for Teacher.html*/
#ScoreBox
{
	padding: 2%;
	background-color: #F2EEEA;
	text-align: right;
	border: 10px solid #B4B2AE;
	display: inline-block;
	margin: 2.5%;
	border-radius:;
	height: auto;
	width: auto;

}
#Team
{
	display: inline-block;
	text-align: center;

}
#DebateForm
{
	border: 2px solid black;
}
/*End of divs for Teacher.html*/
input[type=radio] {
    display:none;
    margin:10px;
}
input[type=radio] + label {
    display:inline-block;
    margin:-0px;
    padding: 5px 14px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
}