body
{
	background-color:#F7DEAD;
	text-align: center;
	margin: 0;
	margin-bottom: 5%;
}
#Banner
{
	background-color: white;
	text-align: center;
	z-index: 101;
	margin-top: 0%;
	font-size: 145%;
	width: 110%;
	margin-left: -7%;
	margin-top: auto;
	padding: 2.5%;
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 35px;
	color: #CA1E15;
}
h1
{
	font-size: 250%;
}
#Boxes
{
	text-align: center;
}
#CenterText
{
	text-align: center;
	font-size: 150%;
}

#ProConDiv
{
	position: relative;
	height: auto;
	display: block;
}

#ScoreBox
{
	text-align: center;
	background-color: #EFC36C;
	margin: .25%;
	width: 25%;
	border: 5px inset #526A85;
	display: inline-block;
	padding: 2.5%;
	vertical-align: middle;
	height: 10%;


}
#InfoBox
{
	text-align: center;
	background-color: #FFCEA9;
	margin: .5%;
	width: 50%;
	border: 5px inset #C595D1;
	display: inline-block;
	padding: 2px;
}
