body
{
	background-color:#F7DEAD;
	text-align: center;
	margin: 0;
}
#Banner
{
	background-color: white;
	text-align: center;
	z-index: 101;
	margin-top: 0%;
	font-size: 145%;
	width: 110%;
	margin-left: -7%;
	margin-top: auto;
	padding: 2.5%;
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 35px;
	color: #CA1E15;
}
head
{
	text-align: center;
	display: inline-block;
}
h1
{
	font-size: 100%;
}
h2
{
	font-size: 150%;
}
h3
{
	font-size: 125%;
}
h4
{
	font-size: 200%;
}
#Team
{
	display: inline-block;
	text-align: center;

}

#ScoreBox
{
	padding: 1%;
	background-color: #EFC36C;
	text-align: left;
	border: 5px solid #829DBA;
	display: inline-block;
	width: 75%;
	margin: 2.5%;
	border-radius: 25px;

}

