
<html>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DebateSite.css">
<script type="text/javascript">
</script>

<head>
	<title>Splash Page</title>
</head>
<body>
	<div class="Banner">
		Albany High School Freshmen Debates <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Login with Google</a>
	</div>
	<div id="MainBody">

		<div id="SelectT" class="Button">
			<h1>Teachers</h1>
			<h2>Manage debate teams, check grades and upcoming debates.</h2>
			<br>
		</div>
		<div id="SelectA" class="Button">
			<h1>Admin</h1>
			<h2>Ms. O, log in here to manage debates and organize everything.</h2>
			<br>
		</div>
		<div id="SelectJ" class="Button">
			<h1>Judges</h1>
			<h2>Judge debates, view and manage debates you will judge.</h2>
			<br>
		</div>
		<br>
		<br>
		<br>

	</div>

	
	<script type="text/javascript">
		var something = document.getElementById('SelectA');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('admin','_self',false)
		};

		var something = document.getElementById('SelectT');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('TeacherSelector','_self',false)
		};

		var something = document.getElementById('SelectJ');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('DebateSelector','_self',false)
		};

		var something = document.getElementById('LogIn');

		something.style.cursor = 'pointer';
		something.onclick = function() {
			window.open ('LogIn','_self',false)
		};
	</script>


</body>
</html>